<!--   About Start   -->
<section id="about" class="about active">
  <div class="display-table">
    <div class="display-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center title">
              <h2 class="text-dark">About <span class="base-color">Me</span></h2>
              <p class="text-muted mb-5">{{data.aboutme}}</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="image-border">
              <img src="{{data.image}}" alt="/">
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="personal-item ">
              <h3 class="text-dark mt-4 mt-lg-0">{{data.title}}</h3>
              <div class="row">
                <div class="col-6 personal-info">
                  <ul class="list-unstyled pt-4">
                    <li>
                      <p>Birthday : <span> {{data.birthday}}</span></p>
                    </li>

                    <li>
                      <p>Phone : <span> {{data.phone}}</span></p>
                    </li>
                    <li>
                      <p>City : <span> {{data.address}}</span></p>
                    </li>
                  </ul>
                </div>
                <div class="col-6 personal-info">
                  <ul class="list-unstyled pt-4">
                    <li>
                      <p>Age : <span> {{data.age}}</span></p>
                    </li>

                    <li>
                      <p>Mail : <span> {{data.email}}</span></p>
                    </li>
                    <li>
                      <p>Freelance : <span> Available</span></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="button-border mt-3 mb-lg-0 mr-4">
              <a href="{{data.resume}}" target="_blank" class="pill-button">Download Cv</a>
            </div>
            <div class="button-border mt-3 mb-lg-0 to-contact">
              <a href="contact" class="pill-button">Hire Me</a>
            </div>
          </div>
        </div>
        <!-- Count up Start -->
        <!-- <div id="count-up" class="count-up text-center box-border">
          <div class="row">
            <div class="col-6 col-lg-3 my-3 count-item ">
              <div class="count-icon">
                <i class="lni-download base-color"></i>
              </div>
              <div class="my-3">
                <span class="timer count-number" data-from="0" data-to="286" data-speed="5000">0</span>
              </div>
              <p class="mb-0">Files Download</p>
            </div>
            <div class="col-6 col-lg-3 my-3 count-item ">
              <div class="count-icon">
                <i class="lni-pencil-alt base-color"></i>
              </div>
              <div class="my-3">
                <span class="timer count-number" data-from="0" data-to="6549" data-speed="5000">0</span>
              </div>
              <p class="mb-0">Project Done</p>
            </div>
            <div class="col-6 col-lg-3 my-3 count-item ">
              <div class="count-icon">
                <i class="lni-medall  base-color"></i>
              </div>
              <div class="my-3">
                <span class="timer count-number" data-from="0" data-to="793" data-speed="5000">0</span>
              </div>
              <p class="mb-0">Get Award</p>
            </div>
            <div class="col-6 col-lg-3 my-3 count-item ">
              <div class="count-icon">
                <i class="lni-emoji-smile base-color"></i>
              </div>
              <div class="my-3">
                <span class="timer count-number" data-from="0" data-to="286" data-speed="5000">0</span>
              </div>
              <p class="mb-0">Happy Client</p>
            </div>
          </div>
        </div> -->
        <!--  Count up End  -->
        <!--  Service Start  -->
        <div class="services">
          <div class="row mt-5 ">
            <div class="col-12">
              <h3 class="mb-0 text-dark">What <span class="base-color">I'm Doing</span></h3>
            </div>
          </div>
          <div class="row">
            <!-- Item 01 -->
            <div class="col-lg-4 text-left" *ngFor="let item of data.services">
              <div class="services-item box-hover-border">
                <div class="float-left mt-lg-1 d-inline-block services-icon">
                  <i class="{{item.icon}} size-md base-color"></i>
                </div>
                <div class="services-content">
                  <h5 class="mb-3">{{item.title}}</h5>
                  <p class="text-muted mb-0">{{item.detail}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--   Service End   -->
        <!--   Client Start  -->
        <div class="testimonial mt-5">
          <div class="col-12">
            <h3 class="mb-0 text-dark">Client <span class="base-color">Says</span></h3>
          </div>
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of data.testimonials">
              <ng-template carouselSlide>
                <div class="testimonial-item box-border">
                  <div class="testimonial-image">
                    <div class="testimonial-image-border">
                      <img [src]="slide.image" [alt]="" [title]="slide.title">
                    </div>
                  </div>
                  <p class="mb-0 mt-2 text-muted">" {{slide.text}}"</p>
                  <span class="d-block mt-3 font-weight-bold mr-2">{{slide.title}},<small class="text-muted"> {{slide.designation}}</small></span>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
        <!--    Client End   -->
      </div>
    </div>
  </div>
</section>
<!--    About End    -->
